################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/x64
test_cpp_utils
test_cpp_utils_gnu
test_cpp_utils_clang
*.swp
